# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Project Files
*.vcxproj
.vs/Lab7/v16/.suo
*.db
*.db-shm
*.db-wal
*.opendb
*.ipch
*.testlog
*.manifest
*.pdb
*.testdurations
*.ilk
*.sln
*.recipe
*.log
*.tlog
*.filters
Lab7/Lab7.vcxproj.user
*.idb
*.p7s
*.xml
*.txt
*.CopyComplete
*.nupkg
*.pump
*.targets
packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.1.4/*
*.config
*.user
